# Copy to /home/box/brain-os/state/box.env
# Paths only. API keys stay in ~/.gbrain/sg.env.
BRAIN_OS=/home/box/brain-os
WIKI_HOME=/home/box/.gbrain
INGEST_HOME=/home/box/.gbrain-homes/ingest
WIKI_PGLITE=/home/box/.gbrain/wiki.pglite
INGEST_PGLITE=/home/box/.gbrain-homes/ingest/ingest.pglite
WIKI_CHECKOUT=/home/box/.gbrain/wiki-default-checkout
VAULT_PATH=/home/box/brain-os/vault
NOTION_SNAPSHOT_PATH=/home/box/brain-os/vault/notion-snapshot
NOTION_MEETINGS_PATH=/home/box/brain-os/vault/notion-meetings
AGENTMAIL_PATH=/home/box/brain-os/vault/agentmail
GBRAIN_SERVE_PORT=18792
RESTART_SERVES=/home/box/brain-os/bin/gbrain-restart-serves.sh
